<form [formGroup]="form" (ngSubmit)="submit()" class="form">
  <h2>Nieuwe order</h2>

  <div class="row">
    <label>Naam bestelling</label>
    <input type="text" formControlName="name" />
    <small *ngIf="hasError('name','required')">Naam is verplicht.</small>
    <small *ngIf="hasError('name','minlength')">Minstens 2 karakters.</small>
  </div>

  <div class="row">
    <label>Doel activiteit</label>
    <input type="text" formControlName="goalActivity" />
    <small *ngIf="hasError('goal','required')">Achternaam is verplicht.</small>
  </div>

  <div class="row">
    <label>Timing</label>
    <input type="text" formControlName="timing" />
    <small *ngIf="hasError('timing','required')">Timing is verplicht.</small>
  </div>

  <div class="row">
    <label>Locatie</label>
    <input type="text" formControlName="location" />
    <small *ngIf="hasError('timing','required')">Locatie is verplicht.</small>
  </div>

  <ag-grid-angular
    class="ag-theme-quartz"
    style="width: 100%; height: 520px"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [pinnedBottomRowData]="pinnedBottomRowData"
    [stopEditingWhenCellsLoseFocus]="true"
    (gridReady)="onGridReady($event)">
  </ag-grid-angular>

  <div class="row">
    <button type="submit" [disabled]="form.invalid">Opslaan</button>
  </div>
</form>

