<form [formGroup]="form" (ngSubmit)="submit()" (keydown.enter)="$event.preventDefault()" class="form">
  <h2>Bestelling aanmaken</h2>
  <div class="group">
    <div class="row two-col">
      <div [class.invalid]="form.get('name')?.invalid && (form.get('name')?.touched || form.get('name')?.dirty)">
        <label>
          Naam van Bestelling
          <span class="required">*</span>
        </label>
        <input type="text" formControlName="name" />
        <small *ngIf="hasError('name', 'required')">Naam is verplicht.</small>
        <small *ngIf="hasError('name', 'minlength')">Naam moet minstens 2 karakters bevatten.</small>
      </div>
      <div [class.invalid]="form.get('goalActivity')?.invalid && (form.get('goalActivity')?.touched || form.get('goalActivity')?.dirty)">
        <label>
          Doel activiteit
          <span class="required">*</span>
        </label>
        <input type="text" formControlName="goalActivity" />
        <small *ngIf="hasError('goalActivity', 'required')">Geef een doel op.</small>
      </div>
    </div>

    <div class="row two-col">
      <div [class.invalid]="form.get('timing')?.invalid && (form.get('timing')?.touched || form.get('timing')?.dirty)">
        <label>Timing</label>
        <input type="text" formControlName="timing" />
      </div>
      <div [class.invalid]="form.get('location')?.invalid && (form.get('location')?.touched || form.get('location')?.dirty)">
        <label>Locatie</label>
        <input type="text" formControlName="location" />
      </div>
    </div>
  </div>

<div class="group">
  <div class="row two-col">
      <div [class.invalid]="form.get('responsibleName')?.invalid && (form.get('responsibleName')?.touched || form.get('responsibleName')?.dirty)">
        <label>
          Naam Verantwoordelijke
          <span class="required">*</span>
        </label>
        <input type="text" formControlName="responsibleName" />
        <small *ngIf="hasError('responsibleName', 'required')">Verantwoordelijke is verplicht.</small>
        <small *ngIf="hasError('responsibleName', 'minlength')">Verantwoordelijke moet minstens 2 karakters bevatten.</small>
      </div>
       <div [class.invalid]="form.get('responsibleEmail')?.invalid && (form.get('responsibleEmail')?.touched || form.get('responsibleEmail')?.dirty)">
        <label>
          Email verantwoordelijke
          <span class="required">*</span>
        </label>
        <input type="email" formControlName="responsibleEmail" />
          <small *ngIf="hasError('responsibleEmail','required')">Email is verplicht.</small>
          <small *ngIf="hasError('responsibleEmail','email')">Ongeldig e-mailadres.</small>
      </div>
    </div>
    <div class="row two-col">
      <div [class.invalid]="form.get('responsiblePhone')?.invalid && (form.get('responsiblePhone')?.touched || form.get('responsiblePhone')?.dirty)">
        <label>
          Telefoonnummer Verantwoordelijke
          <span class="required">*</span>
        </label>
        <input type="tel" formControlName="responsiblePhone" inputmode="numeric" pattern="^\+?[0-9]{6,15}$" />
        <small *ngIf="hasError('responsiblePhone','required')">Telefoonnummer is verplicht.</small>
        <small *ngIf="hasError('responsiblePhone','pattern')">
          Ongeldig telefoonnummer (gebruik enkel de landcode of enkel cijfers, tussen de 6 en 15 tekens).
        </small>
      </div>
    </div>
</div>
  <div class="grid-card">
    <ag-grid-angular
      class="ag-theme-quartz"
      style="width: 100%; height: 520px"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [stopEditingWhenCellsLoseFocus]="true"
      (gridReady)="onGridReady($event)">
    </ag-grid-angular>
    <div class="grid-footer">
      <button class="btn btn-primary btn-full" (click)="addRow(); $event.preventDefault(); $event.stopPropagation();">➕ Nieuw item</button>
    </div>
  </div>

  <div class="row remarks">
    <label>Algemene opmerkingen</label>
    <textarea formControlName="comment"></textarea>
  </div>

  <div class="row actions">
    <button type="reset" class="btn btn-secondary">Reset</button>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Opslaan</button>
  </div>
</form>
